<div class="container">
  <div class="navbar navbar-dark bg-dark rounded" style="color: white; margin-top: -35px;">
    <div class="col-1">
      <h1>Cooks</h1>
    </div>
    <div class="col-1 btn btn-outline-secondary btn-sm">
      Recipes
    </div>
    <div class="col-8" style="text-align: right">
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log Out", logout_path %>
      <% end %>
    </div>
  </div>

  <div class="row" style="height: 50px;"></div>

  <div class="container">
    <div class="row p-0 ">
      <div class="col-2" style="width: 30%">
        <% @recipes.each do |recipe| %>
          <div class="row">
            <div class="col p-0 m-0">
              <%= button_to recipe.title, {:controller => "recipes", :action => "change"}, {:method => :post, :onclick => "Call('#{recipe.title}')", class: 'btn btn-dark w-100', :params => { chose: recipe.title }}  %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-10" style="background-color: lightgray">
          <div class="row">
            <div class="col">
             <p class="row-1" id="desc"></p>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-7" id="tag" style="background-color: lightgray">

      </div>
      <div class="col-3 text-right" id="buttons" style="background-color: lightgray">
        <button onclick="location.href='/new'">New</button>
        <button onclick="Call2()">Edit</button>
        <%= button_to 'Delete', {:controller => "recipes", :action => "destroy"}, :method => :post, :params => { name: session[:chosen] } %>
      </div>
    </div>

  </div>


  <script type="text/javascript">

      function Call2(){
          if ( '<%= session[:chosen] %>' == " " ){
              alert("Select a receipt")
          }else{
              location.href='/edit'
          }
      }

      function Call(arg1){
          let titles = []
          let descs  = []
          let tags   = []
          let i      = 0

          <% @recipes.each do |recipe| %>

                titles[i] = "<%= recipe.title %>"
                descs[i]  = "<%= recipe.description %>"
                tags[i]   = "<%= (recipe.tags.map{ |t| t.name }).join(", ") %>"
                i = i + 1;

          <% end %>
          for( let j = 0; j < i; j++ ) {
              if( titles[j] == arg1 ) {
                  document.getElementById("desc").innerHTML = descs[j]
                  document.getElementById("tag").innerHTML = tags[j]
              }
          }
      }

  </script>

  <div class="footer">
  </div>
</div>